<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Agenda</title>
<link type="text/css" href="css/style.css" rel="stylesheet"></style>
<link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script>
	$(document).ready(function(){
		$("#aImgNuevo").hover(function(){
			var altura = $(this).height();
			var anchura = $(this).width();
			$("#aImgNuevo").animate({
				height: "+=50px",
				width: "+=50px"
			}, 100);
		},function(){
			$("#aImgNuevo").animate({
				height: "-=50px",
				width: "-=50px"
			}, 300);

		});
		$("#aImgAgenda").hover(function(){
			var altura = $(this).height();
			var anchura = $(this).width();
			$("#aImgAgenda").animate({
				height: "+=50px",
				width: "+=50px"
			}, 100);
		},function(){
			$("#aImgAgenda").animate({
				height: "-=50px",
				width: "-=50px"
			}, 300);

		});
		
	});
</script>
</head>
<body>
	<header class="dUlHead">
		<h1 class="h1Agenda">Agenda</h1>
		
		<ul class="ulHead">
			<li><a href="index.php" id="aIndice">Indice</a></li>
			<li><a href="nuevo_usuario.php" id="aAnadir">Nuevo</a></li>
			<li><a href="lista_usuarios.php" id="aAgenda">Agenda</a></li>
			<li><a href="eliminar_todos.php" id="aBorrar">Borrar todos</a></li>
			<li><a href="logout.php" id="aSalir">Salir</a></li>
		</ul>
	</header>
	<nav class="fBusqueda">
		<form class="fBusqueda" action="busca_contacto.php" method="post">
			<input type="text" size="30" name="iBusquedaNombre" placeholder="Nombre">
			<input type="text" size="30" name="iBusquedaApellido" placeholder="Apellido">
			<input type="text" size="30" name="iBusquedaCorreo" placeholder="Correo">
			<input type="submit" value="Buscar">
		</form>
	</nav>

	<div class="dOrden">
		{% block ordena %}
		{% endblock %} 
	</div>
	
	<div class="dInicio">
		{% block inicio %}
		{% endblock %}
	</div>
	<div class="dNuevoContacto">
		{% block nuevoC %}
		{% endblock %}
	</div>
	<div class="dEdicionContacto">
		{% block nuevo %}
		{% endblock %}
	</div>
	<div class="dEncontrado">
		{% block encontrado %}
		{% endblock %}
	</div>
	<div>
		{% block salir %}
		{% endblock %}
	</div>
</body>
</html>