{% extends "base.html" %}
{% block titulo %} {{ titulo }} {% endblock %}

{% block nuevoC %}
<h2 class="h2Info">Aqui puedes guardar tus contactos</h2>
<fieldset class="fNuevoUsuario">
<legend>Datos de los contactos</legend>
	<form id="formNuevoUsuario" action="dmls.php" method="post">
		<label for="iNombreUsuario">Nombre:</label> <input type="text"
			name="iNombreUsuario" id="iNombreUsuario"> <label
			for="iApellidoUsuario">Apellido:</label> <input type="text"
			name="iApellidoUsuario" id="iApellidoUsuario"> <label
			for="iTfnUsuario">Telefono:</label> <input type="text"
			name="iTfnUsuario" id="iTfnUsuario"> <label for="iCorreoUsuario">Correo:</label>
		<input type="text" name="iCorreoUsuario" id="iCorreoUsuario"> <input
			type="submit" value="Registrar" id="iSubmitNuevoContacto">
	</form>
	</fieldset>
{% endblock %}